<main class="h-full">
    <as-split #split direction="horizontal" gutterSize="7">
        <as-split-area class="flex flex-col" minSize="10" size="33">
            <h2 class="text-2xl">Input</h2>
            <div class="mb-4">
                <button (click)="reset($event)"
                    class="mr-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">Reset</button>
                <label class="text-gray-800">Load Example: </label>
                <select [(ngModel)]="loadExampleState" (change)="loadExample($event)">
                    <option value=""></option>
                    <option *ngFor="let opt of examples" [value]="opt.id">
                        {{ opt.label }}
                    </option>
                </select>
            </div>
            <app-editor #inputEditor class="flex flex-col flex-1" [code]="inputModel"
                (codeChanged)="onInputChanged($event)" (invalid)="onInputError($event)"></app-editor>
        </as-split-area>
        <as-split-area class="flex flex-col" minSize="10" size="33">
            <h2 class="text-2xl">OCA Bundle</h2>
            <div class="mb-4">
                <button (click)="addCaptureBase($event)"
                    class="mr-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">Add
                    a Capture Base</button>
                <button (click)="computeCaptureBaseDigest($event)"
                    class="mr-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">Compute
                    digest</button>
            </div>
            <app-editor #ocaEditor class="flex flex-col flex-1" [code]="ocaModel" [error]="ocaErrorMark"
                (codeChanged)="onOCAChanged($event)" (invalid)="onOCAError($event)"></app-editor>
        </as-split-area>
        <as-split-area class="flex flex-col" minSize="10" size="34">
            <h2 class="text-2xl">Output</h2>
            <div>
                <label class="text-gray-800">Load View: </label>
                <select [(ngModel)]="viewRenderSelection" (change)="updateViewRenderer($event)">
                    <option *ngFor="let opt of rendererSelectionOptions" [value]="opt.key">
                        {{ opt.label }}
                    </option>
                </select>
            </div>
            <app-language-selection [oca]="ocaUserModifications"
                (languageChanged)="onLanguage($event)"></app-language-selection>
            <div class="flex flex-1 justify-center items-center">
                <ng-container #viewRenderComponent></ng-container>
            </div>
        </as-split-area>
    </as-split>
</main>